<input type="text" [(ngModel)]="filterTerm">
<button (click)="filter()" class="btn btn-primary">Filter</button>
<select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>color</option>
</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button (click)="sort()">Sort</button>
<table class="table">
    <thead>
       <tr>
        <th>Vehicle</th>
        <th>manifacturer</th>
        <th>color</th>
        <th>Model</th>
        <th>Type</th>
        <th>fuel</th>
        <th>Id</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vechicle of  vehicles">
            <td>{{ vechicle.Vehicle }}</td>
            <td>{{ vechicle.manufacturer }}</td>
            <td>{{ vechicle.color }}</td>
            <td>{{ vechicle.model }}</td>
            <td>{{ vechicle.type }}</td>
            <td>{{ vechicle.fuel }}</td>
            <td>{{ vechicle.id}}</td>
            <td><button class="btn btn-danger" (click)="delete(vechicle.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
<ul class="pagination">
  <li class="page-item" (click)="page(1)"><a class="page-link">1</a></li>
  <li class="page-item" (click)="page(2)"><a class="page-link">2</a></li>
  <li class="page-item" (click)="page(3)"><a class="page-link">3</a></li>
  <li class="page-item" (click)="page(4)"><a class="page-link">4</a></li>
  <li class="page-item" (click)="page(5)"><a class="page-link">5</a></li>
  <li class="page-item" (click)="page(6)"><a class="page-link">6</a></li>
  <li class="page-item" (click)="page(7)"><a class="page-link">7</a></li>
  <li class="page-item" (click)="page(8)"><a class="page-link">8</a></li>
  <li class="page-item" (click)="page(9)"><a class="page-link">9</a></li>
  <li class="page-item" (click)="page(10)"><a class="page-link">10</a></li>
</ul>
