<div class="parent">
  <div class="child1">
    <h3><p>Spur</p></h3>
    <br/>
    <h4 routerLink="/dashboard" style="cursor: pointer"><p>Dashboard</p></h4>
    <h4 routerLink="databinding" style="cursor: pointer">Databinding</h4>
    <h4 routerLink="Components" style="cursor: pointer"><p>Components</p></h4>
    <h4 routerLink="Layouts" style="cursor: pointer;">Layouts</h4>
    <h4 routerLink="About" style="cursor: pointer">About</h4>
    <h4 routerLink="Eventbinding" style="cursor: pointer">Eventbinding</h4>
    <h4 routerLink="Twowaybinding" style="cursor: pointer">Twowaybinding</h4>
    <h4 routerLink="Caluclator" style="cursor: pointer">Caluclator</h4>
    <h4 routerLink="Square" style="cursor: pointer;">Square</h4>
    <h4 routerLink="Rectangular" style="cursor: pointer">Rectangular</h4>
    <h4 routerLink="Event-registration" style="cursor: pointer;">Event-Registration</h4>
    <h4 routerLink="Cart" style="cursor:pointer">Cart</h4>
    <h4 routerLink="Cart2" style="cursor: pointer">Cart2</h4>
    <h4 routerLink="Employeesdetails" style="cursor: pointer">Employees Details</h4>
    <h4 routerLink="Pipes" style="cursor: pointer">Pipes</h4>
    <h4 routerLink="itemscart" style="cursor: pointer">Items Cart</h4>
    <h4 routerLink="mailservice" style="cursor: pointer">Mail Service</h4>
    <h4 routerLink="userapi" style="cursor: pointer">User API</h4>
    <h4 routerLink="Cars" style="cursor: pointer">Cars</h4>
    <h4 routerLink="gpay" style="cursor: pointer">Gpay</h4>
    <h4 routerLink="carapidata" style="cursor: pointer">CarData</h4>
    <h4 routerLink="createvehicle" style="cursor: pointer">Createvehicle</h4>
    <h4 routerLink="bankaccount" style="cursor: pointer">Bankaccount</h4>
    <h4 routerLink="create-user" style="cursor: pointer">Create-User</h4>
    <div class="Logout">
      <button (click)="logout()" class="logout">Logout</button>
    </div>
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>
</div>
